<p id="notice"><%= notice %></p>

<p>
  <strong>画像:</strong>
  <%= image_tag @feed.image.url %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @feed.content %>
</p>
<%= link_to '投稿編集', edit_feed_path(@feed) %> 
<%= link_to '投稿一覧', feeds_path %>
